.menu {
    position: absolute;
    width: 274px;
    height: 640px;
    left: 86px;
    top: 0px;
    background-color: #fff;
    box-shadow: 0px 16px 16px rgba(73, 99, 176, 0.16);
    z-index: 100; /* Убедись, что меню отображается поверх других элементов */
  }
  
  .menu__close {
    position: absolute;
    width: 24px;
    height: 24px;
    right: 12px;
    top: 20px;
    cursor: pointer;
    z-index: 101; /* Убедись, что кнопка закрытия находится выше других элементов */
  }
  
  .menu__pad {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #FFFFFF;
    z-index: 100; /* Убедись, что содержимое меню также отображается поверх */
  }

  .menu__city{
    /* City */

position: absolute;
width: 138px;
height: 24px;
left: 16px;
top: 24px;


  }
  .menu__to{
    /* To */

box-sizing: border-box;

position: absolute;
width: 242px;
height: 40px;
left: 16px;
top: 88px;

background: #FFFFFF;
border-radius: 4px;

  }

  .menu__order{
    /* Order delivery */

position: absolute;
width: 104px;
height: 24px;
left: 16px;
top: 172px;

font-family: 'Intro-Book';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

color: #666666;


  }
  .menu__courier{
    /* Become a Courier */

position: absolute;
width: 136px;
height: 24px;
left: 16px;
top: 220px;

font-family: 'Intro-Book';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

color: #666666;


  }
  .menu__program{
    /* Affiliate Program */

position: absolute;
width: 130px;
height: 24px;
left: 16px;
top: 268px;

font-family: 'Intro-Book';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

color: #666666;


  }
  .menu__help{
    /* Help & Support */

position: absolute;
width: 115px;
height: 24px;
left: 16px;
top: 316px;

font-family: 'Intro-Book';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

color: #666666;


  }
  .menu__btn{
    /* Btn */

position: absolute;
width: 242px;
height: 48px;
left: 16px;
top: 560px;


  }