.slide-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto; /* Центрирование слайда по горизонтали */
    padding: 10px; /* Внутренний отступ */
    box-sizing: border-box; /* Учитываем отступы и рамки в ширине/высоте */
    margin-top: 90px; /* Отступ сверху */
    height: auto; /* Автоматическая высота для адаптации к содержимому */
  }
  
  .slide-image-active {
    max-width: 100%; /* Ограничение ширины изображения по контейнеру */
    max-height: 100%; /* Ограничение высоты изображения по контейнеру */
    object-fit: contain; /* Сохранение пропорций изображения */
    display: block; /* Убираем flex, так как это изображение */
    margin: 0 auto; /* Центрирование изображения по горизонтали */
    /* Дополнительные стили для активного логотипа */
    opacity: 1; /* Полная непрозрачность для активного логотипа */
    transition: opacity 0.5s ease;
  }
  .slide-image-inactive {
    max-width: 100%; /* Ограничение ширины изображения по контейнеру */
    max-height: 100%; /* Ограничение высоты изображения по контейнеру */
    object-fit: contain; /* Сохранение пропорций изображения */
    display: block; /* Убираем flex, так как это изображение */
    margin: 0 auto; /* Центрирование изображения по горизонтали */
    opacity: 0.3; /* Полупрозрачность для неактивного логотипа */
    filter: grayscale(100%); /* Применение черно-белого эффекта */
    transition: opacity 0.5s ease, filter 0.5s ease;
  }